.blockRestaurants{
    background-color: $extraLight-grey;
    h2{
        margin: 0px;
        padding: 30px 0px 0px 35px;
    }

    .cardsSection{

        padding: 30px $padding-home;
        display: flex;
        flex-direction: column;
        gap: 20px;

        &__card{

            box-shadow: 2px 4px 15px rgba($mid-grey, 0.5);
            border-radius: 15px;

            &__top{

                display: flex;
                justify-content: flex-end;
                height: 200px;
                width: 100%;

                img{
                    border-radius: 15px 15px 0px 0px;
                    width: 100%;
                    object-fit: cover;
                }

                p{
                    font-family: $text-font;
                    font-weight: bold;
                    position: absolute;
                    margin: 5%;
                    color: darken($tertiaryColor,40);
                    font-size: 15px;
                    background-color: $tertiaryColor;
                    padding: 5px 10px;
                    border-radius: 3px;
                }

                &--labelVisible{
                    visibility: visible;
                }

                &--labelHidden{
                    visibility: hidden;
                }
            }

            &__bottom{
                display: flex;
                justify-content: space-between;
                padding: 5px 15px 10px;

                &__left{
                    
                    h3{

                    }

                    p{

                    }

                }

                &__right{

                    margin: auto 5px;
                    
                    position: relative;
                    .fa-regular{
                        transition: 300ms;
                        background: $extraLight-grey;
                        -webkit-background-clip:content-box;
                        -webkit-text-fill-color: black;
                        position: absolute;
                        left: -10px;
                        cursor: pointer;
                        opacity: 1;
                        // display: block;
                        &:hover{
                            opacity: 0;
                            // display: none;
                        }
                        
                        &:hover + .fa-solid{
                            opacity: 1;
                            // display: block;
                        }
                    }
        
                    .fa-solid{
                        position: absolute;
                        left: -10px;
                        // display: none;
                        background: -webkit-gradient(linear, left top, left bottom, from(#ff79da), to(#9356dc));
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                    }
                }
            }
        }
    }
}


//TABLET
@media (min-width: 769px) {

    .blockRestaurants{

        .cardsSection{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            //flex-wrap:wrap;

            &__card{
                width: 300px;

                &__top{
                    p{
                        position: absolute;
                        margin: 1%;
                        color: darken($tertiaryColor,40);
                        font-size: 15px;
                        background-color: $tertiaryColor;
                        padding: 5px 10px;
                        border-radius: 3px;
                    }
                }
            }
        }
    }
}