@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
    }
    $animation-duration: 0.7s;
    $easing: ease-in-out;

    .fade-in-block {
    opacity: 0;
    animation: fadeIn $animation-duration $easing;
    animation-fill-mode: both;
    animation-delay: 0s;
    }

.blockFrontMenu{
    border-radius: 40px;
    background-color: white;
    padding: 0px $padding-home;
    width: 100%;

    &__button{
        padding: 20px 0px 70px 0px;
        text-align: center;
        font-size: 25px;

        .gradientPurpleBtn{
            padding: 20px 15%;
        }
    }
}

.infoResto{

    div{
        margin: -40px 0 20px 0;
        padding-top: 40px;
        display: flex;
        justify-content: space-between;

        h1{
            margin: 0px;
            font-family: $title-font;
        }

        i{
            margin: auto 0px;
            font-size: 150%;
        }
    }
}

.sectionPlats{
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    gap: 15px;

    &__titreSection{
        h2{
            font-weight: normal;
            text-transform:uppercase;
            font-size: 20px;
            color: $dark-grey
        }
        width: 15%;
        border-bottom: 5px solid $tertiaryColor;
    }

    &__platCard{

        box-shadow: 2px 4px 15px rgba($mid-grey, 0.5);
        border-radius: 15px;

        display: flex;
        justify-content: space-between;

        &:hover &__right {
            i{
                transform: scaleX(1) rotate(0turn);
            }

            div{
                transform: scaleX(1) rotate(0turn);
            }

            h3{
                transform: translateX(0px);
            }
        }
        

        &__left{
            padding: 15px;
            font-size: 15px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow:ellipsis;
            width: 300px;
        }

        &__right{
            display: flex;
            padding-left: 20px;

            div{
                background-color: $tertiaryColor; 
                transform-origin: 100% 0%;
                transform: scaleX(0);
                transition: transform 400ms;
                border-radius: 0px 15px 15px 0px; 
                padding: 10px;
            }

            i{
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding: 10px;
                font-size: 30px;
                color: white;
                transform: scaleX(0) rotate(-2turn);
                transition: transform 500ms;
            }

            h3{
                display: flex;
                flex-direction: column-reverse;
                padding: 0px 15px 15px 0px;
                transform: translateX(70px);
                transition: transform 400ms;
                font-size: 20px;
            }
            
        }
    }
}