.blockExplore{
    background-color: $extraLight-grey;
    text-align: center;
    height: 315px;
    h2{
        margin: 0px;
        padding: 30px 35px 0px 35px;
    }
    p{
        color: $dark-grey;
        margin: 10px 25px 30px 25px;
    }

    //TABLET
    @media (min-width: 769px) {
        height: 250px;
    }
}