// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------
footer{

    //MOBILE

    background-color: $dark-grey;

    padding: 30px;

    .footer{

        &__img{
            filter: invert(1);
            width: 45%;
            margin-bottom: 20px;
        }

        &__links{

            a{
                color: white;
            }

            p{
                padding-bottom: 5px;
            }

            color: $light-grey;

            &--bold a{
                color: white;
                font-weight: bold;
                display: flex;

                i{
                    width: 35px;
                }
            }
        }
    }

    //TABLET
    @media (min-width: 769px) {
        .footer{
            &__img{
                width: 20%;
            }
        }
    }
}