// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
header{
    div{
        height: 70px;
        box-shadow: 0px 1px 5px $mid-grey;
        background-color: white;
        img{
            padding-top: 20px;
            display: block;
            margin: 0px auto;
        }
    }
}